{% extends "main/base.html" %}

{% block title %} Contact{% endblock title %}

{% block body %}
<center><div class="grid-item item2"><h1>Important Circulars/ Forms/Office Orders of General Administration</h1>
            
    <table><tr><th>Sr. no</th><th>Branch incharge/staff details</th><th>Inter com.</th></tr>
   <tr><td>1.</td><td>Mr. Anil Kumar, Dy. Registrar</td><td>011-27294673 (Direct) / Ext. 1106</td></tr>
   <tr><td>2.</td><td>Mr. Chander Prakash, Sr. Office Asstt.</td><td>1145</td></tr>
   <tr><td>3.</td><td>Ms. Brijna, Jr. Office Asstt.</td><td>2730</td></tr>
   <tr><td>4.</td><td>Mr. Kunal, Jr. Office Asstt.</td><td>2727</td></tr>
   <tr><td>5.</td><td>Mr. Inderjeet, ,Jr. Office Asstt.</td><td>2728</td></tr>
   <tr><td>6.</td><td>Ms. Nazmin, STA</td><td>1108</td></tr>
   <tr><td>7.</td><td>Mr. Vikram, MTS            </td><td>2728</td></tr></table>
   <footer>Happy to Serve DTU Community</footer>   
</div></center>
   {%endblock body %}