<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with articles=page_obj.object_list.all %}
    ARTICLES:
    <table>
        {% for article in articles %}
        
        <tr>
            <th>
                <p>{{article.descr}}</p>
            </th>
            <th><a href="{% url 'download_file' article.id %}">
                download
            </a></th>
            <th>
                {{article.uploaded_at}}
            </th>
        </tr>
        {% endfor %}
    </table>
    {% endwith %}    

    {% block pagination %}
    {% for page_number in page_obj.paginator.page_range %}
        <a
            href="{% url 'downloads' page_number %}"
            class="{% if page_number == page_obj.number %}current{% endif %}"
        >
            {{page_number}}
        </a>
    {% endfor %}
{% endblock %}
   
</body>
</html>